body {
  padding-top: 5rem;
}

.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.overline {
    text-decoration: overline;
}

footer {
    position: fixed;
    height: 60px;
    bottom: 0;
    width: 100%;
    background-color: #f5f5f5;
}

main {
    padding: 60px;
}